<div>
    <h1>Bienvenido Administrador</h1>
</div>
<h1 class="product">Cliente</h1>
<a class="refer btn-agregar pc" href="crearcliente.html">Crear nuevo cliente</a>
<table role="table">
    <thead role="rowgroup">
        <tr role="row">
            <th class="cp" role="columnheader">iId cliente</th>
            <th class="cp" role="columnheader">Nombre</th>
            <th class="cp" role="columnheader">identificación</th>
            <th class="cp" role="columnheader">Oredenes asosciadas</th>
            <th class="cp" role="columnheader">Acciones</th>
        </tr>
    </thead>
    <tbody role="rowgroup">
        <tr role="row">
            <td role="cell">000001</td>
            <td role="cell">Cliente#1</td>
            <td role="cell">1061789645</td>
            <td role="cell">300, 400, 123</td>
            <td role="cell"><a href="editarcliente.html"><i class="fa fa-edit"></i></a>
                <a href="#ModalEliminarCliente"> <i class="fa fa-trash"></i> <span class="off"></span></a>
            </td>
        </tr>
        <tr role="row">
            <td role="cell">000002</td>
            <td role="cell">Cliente#2</td>
            <td role="cell">1061789675</td>
            <td role="cell">300, 400, 123</td>
            <td role="cell"><a href="editarcliente.html"><i class="fa fa-edit"></i></a>
                <a href="#ModalEliminarCliente"> <i class="fa fa-trash"></i> <span class="off"></span></a>
            </td>
        </tr>
        <tr role="row">
            <td role="cell">000003</td>
            <td role="cell">Cliente#3</td>
            <td role="cell">1061789645</td>
            <td role="cell">300, 400</td>
            <td role="cell"><a href="editarcliente.html"><i class="fa fa-edit"></i></a>
                <a href="#ModalEliminarCliente"> <i class="fa fa-trash"></i> <span class="off"></span></a>
            </td>
        </tr>
        <tr role="row">
            <td role="cell">000004</td>
            <td role="cell">Cliente#4</td>
            <td role="cell">10617823414</td>
            <td role="cell">300, 400, 123</td>
            <td role="cell"><a href="editarcliente.html"><i class="fa fa-edit"></i></a>
                <a href="#ModalEliminarCliente"> <i class="fa fa-trash"></i> <span class="off"></span></a>
            </td>
        </tr>

    </tbody>
</table>