<div><h1>Bienvenido Administrador</h1></div>
		<h1 class="product">Modificar Orden de trabajo</h1>
		
		<div class="div2">
			<form action="ordentrabajo">
                
                 <label for="lname">Código de orden</label>
			  <input type="text" id="lname" name="lastname" placeholder="0000001">
                
			  <label for="fname">Nombre del operador</label>
			  <input type="text" id="fname" name="firstname" placeholder="Pepito">
                
              <label for="lname">Fecha</label>
			  <input type="text" id="lname" name="lastname" placeholder="02/04/2010">
		  
                
                <label for="precio">Costo</label>
			  <input type="text" id="lname" name="precio" placeholder="$3.300.000">
                
			
			  <a routerLink="/ordentrabajo" class="refer btn-reporte pc">Guardar</a>
			</form>
		 </div>
    
         