<div><h1>Bienvenido Administrador</h1></div>
		<h1 class="product">Proveedor</h1>
		<a class="refer btn-agregar pc"  routerLink="/creacion-prov">Crear nuevo proveedor</a>
		<table role="table">
			<thead role="rowgroup">
			  <tr role="row">
				<th class = "cp" role="columnheader">Id proveedor</th>
				<th class = "cp" role="columnheader">Nombre empresa</th>
				<th class = "cp" role="columnheader">nombre</th>
				<th class = "cp" role="columnheader">identificación</th>
				<th class = "cp" role="columnheader">Acciones</th>
			  </tr>
			</thead>
			<tbody role="rowgroup">
			  <tr role="row">
				<td role="cell">000001</td>
				<td role="cell">empresa#1</td>
				<td role="cell">Elbert Bejarano</td>
				<td role="cell">3001237986</td>
				<td role="cell"><a routerLink="/edit-prov"><i class="fa fa-edit"></i></a>
					<a (click)="alertConfirmation2()"> <i class="fa fa-trash"></i> <span class="off"></span></a> </td>
			  </tr>

			  <tr role="row">
				<td role="cell">000002</td>
				<td role="cell">empresa#2</td>
				<td role="cell">Natalia Zuñiga</td>
				<td role="cell">3001237986</td>
				<td role="cell"><a routerLink="/edit-prov"><i class="fa fa-edit"></i></a>
					<a (click)="alertConfirmation2()"> <i class="fa fa-trash"></i> <span class="off"></span></a> </td>
			  </tr>

			  <tr role="row">
				<td role="cell">000003</td>
				<td role="cell">empresa#3</td>
				<td role="cell">Rosa Angulo</td>
				<td role="cell">3001237986</td>
				<td role="cell"><a routerLink="/edit-prov"><i class="fa fa-edit"></i></a>
					<a (click)="alertConfirmation2()"> <i class="fa fa-trash"></i> <span class="off"></span></a> </td>
			  </tr>

			 
			  
			  
			</tbody>
		  </table>
