<div class="menu margen-interno">
    <div class="logo">
        <a routerLink="perfil">Logo</a>
    </div>
    <nav class="nav">
        <a routerLink="perfil"><i class="fas fa-home" aria-hidden="true"></i><span class="off">Inicio</span></a>
        <a><i class="fa fa-shopping-cart"></i><span class="off">Ventas</span></a>
        <a href="ordenTrabajo.html"><i class="fa fa-comments" aria-hidden="true"></i><span class="off">Orden de trabajo</span></a>
        <a href="productos.html"><i class="fa fa-shopping-basket"></i><span class="off">Productos</span></a>
        <a routerLink="cliente-lista"><i class="fa fa-users"></i><span class="off">Clientes</span></a>
        <a routerLink="compraproductosproveedor"><i class="fa fa-envelope" aria-hidden="true"></i><span class="off">Comprar Productos</span></a>
        <a href="reportes.html"><i class="fa fa-signal"></i><span class="off">Reportes</span></a>
        <a href="iniciarsesion.html"><i class="fa fa-sign-out-alt"></i><span class="off">Cerrar Sesión</span></a>

    </nav>

</div>
