<div><h1>Bienvenido Administrador</h1></div>
		<h1 class="product adj">Reportes</h1>
	
		<div class="repor" style="margin-top: 10px;">

            <a class="refer pc" routerLink="/ventas-report">Ventas Totales</a>
            <a class="refer pc" routerLink="/compras-report">Compras Totales</a>
            <a class="refer pc" routerLink="/inventario">Inventario actual</a>
        </div>
		


		<div class="repor adj">
			<p>Las compras totales de la tienda en el último mes fueron de: $6.000.000</p>
		</div>
