<div><h1>Bienvenido Administrador</h1></div>
		<h1 class="product">Reportes</h1>
		
        <div class="repor" style="margin-top: 10px;">

            <a class="refer pc" routerLink="/ventas-report">Ventas Totales</a>
            <a class="refer pc" routerLink="/compras-report">Compras Totales</a>
            <a class="refer pc" routerLink="/inventario">Inventario actual</a>
        </div>
		
        <table role="table">
			<thead role="rowgroup">
			  <tr role="row">
				<th class = "cp" role="columnheader">Código</th>
				<th class = "cp" role="columnheader">Nombre</th>
                <th class = "cp" role="columnheader">Marca</th>
                <th class = "cp" role="columnheader">Modelo</th>
                <th class = "cp" role="columnheader">Ubicación</th>
				<th class = "cp" role="columnheader">Stock</th>
			  </tr>
			</thead>
			<tbody role="rowgroup">
			  <tr role="row">
				<td role="cell">000001</td>
				<td role="cell">Producto#1</td>
                 <td role="cell">ZTE</td>
				<td role="cell">2010</td>
				<td role="cell">Vitrina</td>
				<td role="cell">2 </td>
				
			  </tr>
			  <tr role="row">
				<td role="cell">000002</td>
				<td role="cell">Producto#2</td>
                  <td role="cell">ASUS</td>
				<td role="cell">2009</td>
				<td role="cell">Vitrina</td>
				<td role="cell">4</td>
			  </tr>
			  <tr role="row">
				<td role="cell">000003</td>
				<td role="cell">Producto#3</td>
                  <td role="cell">EPSON</td>
				<td role="cell">2020</td>
				<td role="cell">Bodega</td>
				<td role="cell">1 </td>
			  </tr>
			  <tr role="row">
				<td role="cell">000004</td>
				<td role="cell">Producto#4</td>
                  <td role="cell">LG</td>
				<td role="cell">2016</td>
				<td role="cell">Vitrina</td>
				<td role="cell">3 </td>
			  </tr>
			  <tr role="row">
				<td role="cell">000005</td>
				<td role="cell">Producto#5</td>
                  <td role="cell">MSI</td>
				<td role="cell">2018</td>
				<td role="cell">Bodega</td>
				<td role="cell">2</td>
			  </tr>
			</tbody>
		  </table>