<div><h1>Bienvenido Administrador</h1></div>
		<h1 class="product">Productos</h1>
		<a class="refer btn-agregar pc"  routerLink="/producto-crear">Crear nuevo producto</a>
		<table role="table">
			<thead role="rowgroup">
			  <tr role="row">
				<th class = "cp" role="columnheader">Código</th>
				<th class = "cp" role="columnheader">Nombre</th>
				<th class = "cp" role="columnheader">Marca</th>
				<th class = "cp" role="columnheader">Modelo</th>
				<th class = "cp" role="columnheader">Ubicación</th>
				<th class = "cp" role="columnheader">Descripción</th>
				<th class = "cp" role="columnheader">Precio</th>
				<th class = "cp" role="columnheader">Stock</th>
				<th class = "cp" role="columnheader">Acciones</th>
			  </tr>
			</thead>
			<tbody role="rowgroup">
			  <tr role="row">
				<td role="cell">000001</td>
				<td role="cell">Producto#1</td>
				<td role="cell">ZTE</td>
				<td role="cell">2010</td>
				<td role="cell">Vitrina</td>
				<td role="cell">Celular</td>
				<td role="cell">$1.400.000</td>
				<td role="cell">2 <i class="fa fa-angle-up"></i></td>
				<td role="cell"> <a routerLink="/edit_product"><i class="fa fa-edit"></i><span class="off"></span></a>  <a href="#miModal"> <i class="fa fa-trash"></i> <span class="off"></span></a> </td>
			  </tr>
			  <tr role="row">
				<td role="cell">000002</td>
				<td role="cell">Producto#2</td>
				<td role="cell">ASUS</td>
				<td role="cell">2009</td>
				<td role="cell">Vitrina</td>
				<td role="cell">Celular</td>
				<td role="cell">$800.000</td>
				<td role="cell">4 <i class="fa fa-angle-up"></i></td>
				<td role="cell"> <a routerLink="/edit_product"><i class="fa fa-edit"></i><span class="off"></span></a>  <a href="#miModal"> <i class="fa fa-trash"></i> <span class="off"></span></a> </td>
			  </tr>
			  <tr role="row">
				<td role="cell">000003</td>
				<td role="cell">Producto#3</td>
				<td role="cell">EPSON</td>
				<td role="cell">2020</td>
				<td role="cell">Bodega</td>
				<td role="cell">Computador</td>
				<td role="cell">$2.000.000</td>
				<td role="cell">1 <i class="fa fa-angle-up"></i></td>
				<td role="cell"> <a routerLink="/edit_product"><i class="fa fa-edit"></i><span class="off"></span></a>  <a href="#miModal"> <i class="fa fa-trash"></i> <span class="off"></span></a> </td>
			  </tr>
			  <tr role="row">
				<td role="cell">000004</td>
				<td role="cell">Producto#4</td>
				<td role="cell">LG</td>
				<td role="cell">2016</td>
				<td role="cell">Vitrina</td>
				<td role="cell">Celular</td>
				<td role="cell">$1.300.000</td>
				<td role="cell">3 <i class="fa fa-angle-up"></i></td>
				<td role="cell"> <a routerLink="/edit_product"><i class="fa fa-edit"></i><span class="off"></span></a>  <a href="#miModal"> <i class="fa fa-trash"></i> <span class="off"></span></a> </td>
			  </tr>
			  <tr role="row">
				<td role="cell">000005</td>
				<td role="cell">Producto#5</td>
				<td role="cell">MSI</td>
				<td role="cell">2018</td>
				<td role="cell">Bodega</td>
				<td role="cell">Computador</td>
				<td role="cell">$3.300.000</td>
				<td role="cell">2 <i class="fa fa-angle-up"></i></td>
				<td role="cell"> <a routerLink="/edit_product"><i class="fa fa-edit"></i><span class="off"></span></a>  <a href="#miModal"> <i class="fa fa-trash"></i> <span class="off"></span></a> </td>
			  </tr>
			</tbody>
		  </table>

        <div class="repor2">
		  <a href="#mi2Modal" class="refer btn-reporte pc" >Generar reporte de inventario</a>
		</div>

		  <!-- aqui puedes programar el modal-->
		  <div id="miModal" class="modal">
			<div class="modal-contenido">
			  <a href="#">X</a>
			  <h1>¿Seguro desea eliminar este producto?</h1>
			  <p>Esta acción no tiene marcha atrás, al presionar Si se eliminará este producto</p>
			    <div class="repor">
                      <a class="refer pc"  href="#">Si</a>
		              <a class="refer pc"  href="#">No</a>
			</div> 
			</div>  
		  </div>
         <!-- aqui finaliza el modal-->
     

        <div id="mi2Modal" class="modal">
			<div class="modal-contenido">
			  <a href="#">X</a>
			  <h1>¿Desea imprimir el reporte de inventario?</h1>
			 
			    <div class="repor">
                      <a class="refer pc"  href="#">Si</a>
		              <a class="refer pc"  href="#">No</a>
			</div> 
			</div>  
		  </div>
