<div>
    <h1>Ventas</h1>
</div>
<section class="sectionventa margen-interno">
    <div class="articulos">
        <article class="article">
            <h1>Productos</h1>
            <!-- tabla productos -->
            <div class="div2">
                <form action="/action_page.php">
                  <label for="fname">Buscar</label>
                  <input type="text" id="fname" name="firstname" placeholder="pera">
              
                </form>
             </div>
            <table role="table">
                <thead role="rowgroup">
                    <tr role="row">
                        <th role="columnheader" class = "cp">Nombre</th>
                        <th role="columnheader"class = "cp">Marca</th>
                        <th role="columnheader" class = "cp">Descripción</th>
                        <th role="columnheader" class = "cp">Precio</th>
                        <th role="columnheader" class = "cp">Cantidad</th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                    <tr role="row">
                        <td role="cell">James</td>
                        <td role="cell">Matman</td>
                        <td role="cell">Chief Sandwich Eater</td>
                        <td role="cell">$3000</td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td>
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell">James</td>
                        <td role="cell">Matman</td>
                        <td role="cell">Chief Sandwich Eater</td>
                        <td role="cell">$3000</td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>

                    <tr role="row">
                        <td role="cell">James</td>
                        <td role="cell">Matman</td>
                        <td role="cell">Chief Sandwich Eater</td>
                        <td role="cell">$3000</td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>

                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    
                    

                </tbody>
            </table>

            <nav class="navegacion refer btn-reporte pc">
                <a routerLink="#">Inicio</a>
                <a routerLink="#">1</a>
                <a routerLink="#">2</a>
                <a routerLink="#">3</a>
                <a routerLink="#">4</a>
                <a routerLink="#">Final</a>
            </nav>

            <br>
            <div>
                <h1>fomar de pago</h1>
                <input type="radio" id="efectivo" name="pago" value="efectivo">Efectivo
                <input type="radio" id="tarjetacredito" name="pago" value="tarjetacredito"> crédito
                <input type="radio" id="tarjetadebito" name="pago" value="tarjetadebito"> debito
            </div>


        </article>
        <article class="article">
            
            

            <h1>Previa de la orden</h1>

            <div class="div2">
                <form action="/action_page.php">
                  <label for="fname">Buscar</label>
                  <input type="text" id="fname" name="firstname" placeholder="pera">
              
                </form>
             </div>
            <!-- tabla productos -->

            <table role="table">
                <thead role="rowgroup">
                    <tr role="row">
                        <th role="columnheader">Nombre</th>
                        <th role="columnheader">Marca</th>
                        <th role="columnheader">Descripción</th>
                        <th role="columnheader">Precio</th>
                        <th role="columnheader">Cantidad</th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                    <tr role="row">
                        <td role="cell">James</td>
                        <td role="cell">Matman</td>
                        <td role="cell">Chief Sandwich Eater</td>
                        <td role="cell">$3000</td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td>
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    

                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell">The</td>
                        <td role="cell">Tick</td>
                        <td role="cell">Crimefighter Sorta</td>
                        <td role="cell">$1500

                        </td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    <tr role="row">
                        <td role="cell"></td>
                        <td role="cell"></td>
                        <td role="cell">Total</td>
                        <td role="cell">$45000

                        </td>
                        <td role="cell">
                            <div>
                                <i class="fa fa-minus-square"></i><input type="number" name="cantprod" min="0"
                                    class="campos-tam" /><i class="fa fa-plus-square"></i>
                            </div>
                        </td>
                    </tr>
                    
                    
                    

                </tbody>
            </table>

            <nav class="navegacion refer btn-reporte pc">
                <a routerLink="#">Inicio</a>
                <a routerLink="#">1</a>
                <a routerLink="#">2</a>
                <a routerLink="#">3</a>
                <a routerLink="#">4</a>
                <a routerLink="#">Final</a>
            </nav>

            <div class="repor">
                <a name="volver" class="refer btn-reporte pc">Volver</a>
                <a type="submit" name="continuarventa" value="continuarventa" class="refer btn-reporte pc" routerLink="/escoger_ventas">Continuar venta</a>
                
            </div>


        </article>

        


    </div>
    