<div>
    <h1>Bienvenido Administrador</h1>
</div>
<h1 class="product">Reportes</h1>

<div class="div2 repor" style="margin-top: 10px;">
    <form action="/action_page.php">
        <label for="fname">Fecha inicio</label>
        <input type="date" id="fname" name="firstname">


        <label for="precio">Fecha fin</label>
        <input type="date" id="lname" name="precio">

    </form>
</div>
<div class="repor" style="margin-top: 10px;">

    <a class="refer pc" routerLink="/ventas-report">Ventas Totales</a>
    <a class="refer pc" routerLink="/compras-report">Compras Totales</a>
    <a class="refer pc" routerLink="/inventario">Inventario actual</a>
</div>
<br><br>
<br>
