<div>
    <h1>Bienvenido Administrador</h1>
</div>
<h1 class="product">Crear nuevo cliente</h1>

<div class="div2">
    <form action="cliente">
        <label for="fname">Nombre</label>
        <input type="text" id="fname" name="firstname" placeholder="Escribe el nombre del cliente..">


        <label for="precio">Identificación</label>
        <input type="text" id="lname" name="precio" placeholder="Identificación del cliente">


        <input type="submit" value="Guardar">
    </form>
</div>