<div><h1>Bienvenido Administrador</h1></div>
		<h1 class="product">Modificar producto</h1>
		
		<div class="div2">
			<form action="/action_page.php">
			  <label for="fname">Nombre</label>
			  <input type="text" id="fname" name="firstname" placeholder="Producto #1">
		  
			  <label for="lname">Marca</label>
			  <input type="text" id="lname" name="lastname" placeholder="MSI">
                
              <label for="lname">Modelo</label>
			  <input type="text" id="lname" name="lastname" placeholder="2010">
		  
                <label for="lname">Descripción</label>
			  <input type="text" id="lname" name="lastname" placeholder="Computador">
                
                <label for="ubi">Ubicación</label>
			  <select id="ubi" name="ubicación">
				<option value="bodega">Bodega</option>
				<option value="vitrina">Vitrina</option>
			  </select>
                
                <label for="precio">Precio</label>
			  <input type="text" id="lname" name="precio" placeholder="$3.300.000">
                
			  <label for="country">Stock</label>
			  <select id="country" name="stock">
				<option value="australia">1</option>
				<option value="canada">2</option>
				<option value="usa">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
			  </select>
			
			  <a href="#miModal" class="refer btn-reporte pc">Guardar</a>
			</form>
		 </div>
    
            <div id="miModal" class="modal">
			<div class="modal-contenido">
			  <a href="#">X</a>
			  <h1>Compra exitosa</h1>
			  <p>¡El producto ha sido guardado exitosamente!</p>
			    <div class="repor">
                      <a class="refer pc"  href="productos.html">Ok</a>
		              
			</div> 
			</div>  
		  </div>