<div>
    <h1>Bienvenido Administrador</h1>
</div>
<h1 class="product">modificar proveedor</h1>

<div class="div2">
    <form action="proveedor">
        <label for="fname">Nombre empresa</label>
        <input type="text" id="fname" name="firstname" value="empresa#1">

        <label for="fname">Nombre</label>
        <input type="text" id="fname" name="firstname" value="Arnold Jumenez">



        <label for="precio">Identificación</label>
        <input type="text" id="lname" name="precio" value="20202039">


        <input type="submit" value="modificar">
    </form>
</div>