<div><h1>Bienvenido Administrador</h1></div>
		<h1 class="product">Generar una venta o cotización</h1>
		<a class="refer btn-agregar pc"  routerLink="/create-cliente">Crear nuevo cliente</a>
		<table role="table">
			<thead role="rowgroup">
			  <tr role="row">
				<th class = "cp" role="columnheader">Código</th>
				<th class = "cp" role="columnheader">Nombre</th>
				<th class = "cp" role="columnheader">identificación</th>
				<th class = "cp" role="columnheader">Seleccionar</th>
				
			  </tr>
			</thead>
			<tbody role="rowgroup">
			  <tr role="row">
				<td role="cell">000001</td>
				<td role="cell">usuario#1</td>
				<td role="cell">1061123123</td>
				<td role="cell"><input type="radio" id="male" name="gender" value="male">
					</td>
				
			  </tr>
			  <tr role="row">
				<td role="cell">000001</td>
				<td role="cell">usuario#2</td>
				<td role="cell">1061123123</td>
				<td role="cell"><input type="radio" id="male" name="gender" value="male">
					</td>
				
			  </tr>
			  <tr role="row">
				<td role="cell">000001</td>
				<td role="cell">usuario#3</td>
				<td role="cell">1061123123</td>
				<td role="cell"><input type="radio" id="male" name="gender" value="selec">
					</td>
				
			  </tr>
			  <tr role="row">
				<td role="cell">000001</td>
				<td role="cell">usuario#4</td>
				<td role="cell">1061123123</td>
				<td role="cell"><input type="radio" id="male" name="gender" value="selec">
					</td>
				
			  </tr>
			  <tr role="row">
				<td role="cell">000001</td>
				<td role="cell">usuario#5</td>
				<td role="cell">1061123123</td>
				<td role="cell"><input type="radio" id="male" name="gender" value="selec">
					</td>
				
			  </tr>

			 
			</tbody>
		  </table>
		  <div class="repor">
			<a class="refer btn-reporte pc" href="#modalRealizarVenta">Continuar con la venta</a>
			<a class="refer btn-reporte pc"  href="#modalGuardarCotizacion">Guardar cotización</a>
		  <a class="refer btn-reporte pc"  routerLink="/ventas">Volver</a>
		  
		</div>

		 <!-- aqui puedes programar el modal-->
		 <div id="modalRealizarVenta" class="modal">
			<div class="modal-contenido">
			  <a href="#">X</a>
			  <h1>¡Venta/cotización hecha!</h1>
			  <p>Usted ha generado exitosamente una venta, recuerde
				que la venta/cotización ha quedado guardada en
				"Ordenes de Trabajo"</p>
			    <div class="repor">
                      <a class="refer pc"  href="#">Si</a>
		              <a class="refer pc"  href="#">No</a>
			</div> 
			</div>  
		  </div>
		 <!-- aqui finaliza el modal-->
		 
		  <!-- aqui puedes programar el modal-->
		  <div id="modalGuardarCotizacion" class="modal">
			<div class="modal-contenido">
			  <a href="#">X</a>
			  <h1>¿Desea imprimir la cotización?</h1>
			  <p>Recuerde que con esto se dará por terminado el 
				proceso de venta y se guardará la información</p>
			    <div class="repor">
                      <a class="refer pc"  href="#">Si</a>
		              <a class="refer pc"  href="#">No</a>
			</div> 
			</div>  
		  </div>
		 <!-- aqui finaliza el modal-->